# pysftp
# requerimientos de aeroo
#git+https://github.com/adhoc-dev/aeroolib@master-fix-ods
#git+https://github.com/aeroo/currency2text.git
#pyPDF2

# dependencias zebra

# simple_zpl2
# zebra
# cups
# wand

## dependencia l10n_cl_edi
zeep
pandas
# RUST
# Cython
# pysam
# pyOpenSSL

# dependencia para meli

pdf2image
git+https://github.com/mercadolibre/python-sdk.git

openpyxl
facebook-sdk

# elasticsearch
cachetools
requests
algoliasearch>=2.0,<3.0
elasticsearch>=7.0.0,<=7.13.4
unidecode