xlrd
simplejson
mercadopago
Pigments
requests_oauthlib

# modulo del restaurante nato
#netifaces
phonenumbers
num2words
# ot de amic
# dependencias meli
pdf2image
git+https://github.com/mercadolibre/python-sdk.git
openpyxl
geopy
# el bueno de mario
MechanicalSoup
zpl2
pyodbc
jwt

# debug en vscode
debugpy
idna
