# Dependencias para l10n_ar_edi
pyOpenSSL==19.1.0
zeep==3.4.0
paramiko==2.7.1

# dependencia de odoo ETL
ERPpeek==1.7.1

# dependencia para lab
markdown==3.2.2

# dependencia para webkul saas
docker==4.2.0

# dependencia para meli

pdf2image
git+https://github.com/mercadolibre/python-sdk.git

# dependencias para mercado pago

# mercadopago
# mercadopago===1.1.1
mercadopago==2.2.0

# dependencia social_push_notifications

firebase-admin

# dependencia geospatial

simplejson
pyproj

openpyxl
netifaces

# dependencias TMS
sodapy
responses

# todo pago
suds-jurko

# six==1.9.0
# six

# python-amazon-sp-api 0.0.3 depends on six~=1.15.0
six==1.10
# six==1.15

# zebra
simple_zpl2
zebra
cups

# blancoamor
twilio
pymssql
git+https://gitlab.com/filoquin/ar_mobile_parce
html2text

###
python-stdnum==1.17

## seller
xmltodict
# mws
# python-amazon-sp-api
# odoorpc
# qrtools
# python-barcode
# Pillow
# PyUPC-EAN
# ebaysdk
# dicttoxml
# pyOpenSSL==19.1.0
# pyOpenSSL